@model IEnumerable<IMDB.Web.ViewModels.SerieViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Series</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var serie in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => serie.Id)</td>
                <td>@Html.DisplayFor(modelItem => serie.Name)</td>
                <td>
                    <a asp-action="Characters" asp-route-id="@serie.Id">Characters</a> |
                    <a asp-action="Characters" asp-route-id="@serie.Id">Chapters</a> |
                    <a asp-action="Edit" asp-route-id="@serie.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@serie.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@serie.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
