@model IMDB.Models.MovieViewDetails

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Movie Details</h4>
    <hr />
    <dl class="row">

        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.FlyerUrl)</dt>
        <dd class="col-sm-10"><img src="@Html.DisplayFor(model => model.FlyerUrl)" width="250" height="250" /></dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.ID)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.ID)</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Name)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Name)</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Nationality)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Nationality)</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.ReleaseDate)</dt>
        <dd class="col-sm-10">@String.Format("{0: dd/MM/yyyy}", Model.ReleaseDate)</dd>

        <dt><label asp-for="Characters"></label></dt>
        <dd>
            <ul>
                @foreach (var rol in Model.Characters)
                {
                <li>@rol.CharacterName interpretado por <a asp-controller="Actor" asp-action="Details" asp-route-id="@rol.Actor.ID_Actor"> 
                    @rol.Actor.Name</a> @rol.Actor.LastName </li>


                    //<li>Personaje: @rol.CharacterName interpretador por @rol.Actor.Name @rol.Actor.LastName</li>
                }
            </ul>
        </dd>

    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

