@model IMDB.Models.MovieViewDetails

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Movie Details</h4>
    <hr />
    <dl class="row">

        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.FlyerUrl)</dt>
        <dd class="col-sm-10"><img src="@Html.DisplayFor(model => model.FlyerUrl)" width="250" height="250" /></dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.ID)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.ID)</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Name)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Name)</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Nationality)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Nationality)</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.ReleaseDate)</dt>
        <dd class="col-sm-10">@String.Format("{0: dd/MM/yyyy}", Model.ReleaseDate)</dd>

    </dl>

    <!-- asociates roles with actors -->

    <table class=" table table-striped">
        <tr>
            <th><label asp-for="Characters"></label></th>
            <th></th>
        </tr>
        @foreach (var role in Model.Characters)
        {
            <tr>
                <td>
                    @role.CharacterName interpretado por
                    <a asp-controller="Actor" asp-action="Detail" asp-route-actorId="@role.Actor.ID_Actor">
                        @role.Actor.Name @role.Actor.LastName
                    </a>
                </td>
                <td>
                    <a class="btn btn-danger" asp-controller="Movie" asp-action="DeleteRol" asp-route-movieId="@role.Movie.ID_movie" asp-route-rolId="@role.ID_Role">Delete</a>
                </td>
            </tr>

        }
    </table>


    <!-- create new rol ------------------------------------------------------------------------------------>

    <!-- add character name -->
    <div class="form-group">
        <form asp-action="CreateRol">
            <div class="form-group">
                <label asp-for="CharacterName" class="control-label"></label>
                <input asp-for="CharacterName" class="form-control" placeholder="Character Name" />
                <span asp-validation-for="Characters" class="text-danger"></span>
            </div>

            <!-- dropDown menu for actors -->
            <div>
                <p></p>
                <p></p>
                <h3>Add a new Rol</h3>
                <p></p>
                <h7>Select Actor</h7>
                @Html.DropDownList("actorId", Model.actorsInStorage.Select(actor => new SelectListItem
                                 {
                                     Value = actor.ID_Actor.ToString(),
                                     Text = (actor.Name)
                             }), "------------")>

            </div>


            <input class="btn btn-primary" type="submit" value="CreateRol"
                   asp-controller="Movie" asp-action="CreateRol" asp-route-movieId="@Model.ID" asp-route-characterName="@Model.CharacterName" />
        </form>
    </div>



</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

