@model IEnumerable<IMDB.Web.ViewModels.MovieViewModel>

@{
    ViewData["Title"] = "Movies";
}

<h1>Movies</h1>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Id)</th>
            <th>@Html.DisplayNameFor(model => model.Name)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var movie in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => movie.Id)</td>
                <td>@Html.DisplayFor(modelItem => movie.Name)</td>
                <td>
                    <a asp-action="Characters" asp-route-id="@movie.Id">Characters</a> |
                    <a asp-action="Edit" asp-route-id="@movie.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@movie.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@movie.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
